services:
  app:
    image: ghcr.io/usagi-org/ai-goofish:latest
    container_name: ai-goofish-monitor-app
    pull_policy: always
    ports:
      - "8000:8000"
    env_file:
      - .env
    volumes:
      - ./config.json:/app/config.json
      - ./prompts:/app/prompts
      - ./jsonl:/app/jsonl
      - ./logs:/app/logs
      - ./images:/app/images
    restart: unless-stopped
